*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* Body font is usually the one you use in most of your paragraphs */
  /* (i.e. Font 4 on design) in this case */
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #222c2a;
}

/* Make images responsive: */
/* Images will shrink in smaller screens, but not stratch in bigger screens */
img {
  max-width: 100%;
}

h1,
h2 {
  margin-top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  line-height: 1.1;
}

section {
  padding: 4em 0;
}

.section-title {
  font-size: 2.25rem;
  color: #f3eed9;
}

.section-title--dark {
  color: #824936;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.intro {
  background: #f3eed9;
  padding: 200px 0;
  text-align: center;
  color: #824936;
}

.intro__text {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 10px;
  color: #222c2a;
  margin: 0 0 0.25em;
}

.intro__title {
  font-size: 3rem;
}

.section-three {
  background-color: #222c2a;
  color: #fff;
}

.section-four {
  background-color: #824936;
  color: #fff;
}
