*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}

.row {
  display: flex;
}

.col {
  width: 100%; /* Width: comment it out to see the difference  */
  background: #18bc9c;
  margin: 10px;
}
