@import url("https://fonts.googleapis.com/css?family=Poppins:300,600");

* {
  box-sizing: border-box;
  margin-top: 0;
}

:root {
  --black: #2e323f;
  --dark-grey: #3b4050;
  --light-grey: #e7e7e7cc;
  --white: #fff;
  --beige: #a59678;
}

body {
  font-family: "Oswald", sans-serif;
  color: var(--black);
  font-size: 1.1rem;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

/* Set container: responsive width (%), fixed max-width, center (margin) */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 0;
}

/* Remove gap between nav & hero */
ul {
  margin: 0;
}

/* Image: set max-width to ensure responsive images */
img {
  max-width: 100%;
}

/* Nav */
nav {
  background: var(--black);
  color: var(--white);
}
.nav-container {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
}

/* Align nav-logo with nav-menu */
.nav-logo p {
  margin-bottom: 0;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li + li {
  margin-left: 1em;
}

.button {
  display: inline-block;
  text-decoration: none;
  background: var(--beige);
  border-radius: 100px;
  padding: 0.05em 1em;
}

/* Hero */
.hero {
  background: var(--dark-grey);
  color: var(--white);
}

.hero p {
  color: var(--light-grey);
}

.hero a {
  color: var(--white);
}

span {
  color: var(--beige);
}

.col {
  width: 100%;
}

/* Section One */
.section-one {
  background: var(--light-grey);
}

.section-one h3 {
  color: var(--beige);
}

/* Section Two */

/* Remove gap between section-two & footer */
/* .section-two p {
  margin: 0;
} */

.section-two {
  background: var(--white);
}

.section__main h2 {
  color: var(--beige);
}

.section__sidebar {
  color: var(--white);
  background: var(--dark-grey);
  display: flex;
  flex-direction: column;
}

.section__sidebar .col {
  text-align: center;
  padding: 2em;
  border-bottom: 2em var(--white) solid;
}

/* Footer */
footer {
  color: var(--white);
  background: var(--dark-grey);
}

footer h5 {
  color: var(--beige);
  margin: 0.5em 0;
}

footer li,
footer p {
  color: var(--light-grey);
  font-weight: 200;
  font-size: 0.8em;
}

.footer-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.footer-list li + li {
  margin-left: 1em;
}

@media (min-width: 700px) {
  .hero-container {
    display: flex;
    align-items: center;
    min-height: 450px;
  }
  .hero-container .col + .col {
    margin-left: 3em;
  }

  .section__sidebar {
    flex-direction: row;
  }
  .section__sidebar .col + .col {
    border-left: 1em var(--white) solid;
  }
}

@media (min-width: 1000px) {
  .section-one-container {
    display: flex;
    padding: 3em 0;
    text-align: center;
  }

  .section-one-container .col + .col {
    margin-left: 3em;
  }

  img {
    padding: 1em 0;
  }

  .section-two-container {
    display: flex;
    padding: 3em 0;
  }

  .section__main {
    margin-right: 3em;
  }

  .section__sidebar {
    display: flex;
    flex-direction: column;
  }

  .section__sidebar .col + .col {
    border-left: none;
  }

  .footer-container {
    display: flex;
  }

  footer h1 {
    text-align: center;
    margin-bottom: 1em;
  }

  .footer-about {
    margin-right: 10em;
  }

  .footer-section {
    width: 100%;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
  }

  .footer-list li + li {
    margin: 0;
  }
}
